<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.mapper.PermsMapper">


    <!--为指定用户添加权限-->
    <insert id="insertPermsByUserId">
        insert into rbac_user_perm(userid, permid)
        <foreach collection="permsids" open="values" separator="," item="permid">
            (#{userid},#{permid})
        </foreach>
    </insert>
</mapper>
