<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
</head>
<body>

<div id="app">
    <p>
        <label for="username">用户名:</label>
        <input type="text" id="username" v-model="username">
    </p>
    <p>
        <label for="password">密码:</label>
        <input type="text" id="password" v-model="password">
    </p>
    <p><input type="button" value="登录" @click="submit"></p>

    <hr>

    <input type="button" value="退出登录" @click="logout">

    <input type="button" value="jwt测试" @click="testJwt">

</div>

<script>
    const vm = new Vue({
        el: '#app',
        data: {
            username: '',
            password: ''
        },
        methods: {
            submit: function() {
                let _this = this;

                axios.post('/login', 'username='+_this.username+'&password=' + _this.password, {headers:{"Content-Type":"application/x-www-form-urlencoded"}})
                .then(function (res) {
                    if(res.data.status == 200) {
                        window.localStorage.setItem("token", res.data.data);
                        alert("登录成功");
                    } else {
                        alert("登录失败");
                    }
                });

            },
            testJwt: function() {
                axios.get('/user/testJwt', {headers:{token:window.localStorage.getItem("token")}})
                .then(function(res) {
                    console.log(res);
                });
            },
            logout: function() {
                axios.get('/logout')
                    .then(function(res) {
                        window.localStorage.removeItem("token");
                    });
            }
        }
    });
</script>


</body>
</html>